*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: #1687ff;
    background-image: url('/resources/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

button{
    cursor: pointer;
    transition: all 300ms;
}
button:hover{
    background-color: #f8a62b;
}

.container--main-menu, .container--game-over{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    width: 85vw;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    font-size: 20px;
}

.container--game-over{
    display: none;
}

.btn--start{
    padding: 0.75em 2em;
    background-color: #e60099;
    border: none;
    border-radius: 2em;
    box-shadow: inset -20px 0px 0px -3px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 18px;
}
 


.container--content{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1em;
    background-color: #ffffff;
    height: 70vh;
    width: 85vw;
    border-radius: 10px;
    text-align: center;

    -webkit-box-shadow: -1px 20px 0px -5px rgba(255,255,255,0.90);
    -moz-box-shadow: -1px 20px 0px -5px rgba(255,255,255,0.90);
    box-shadow: -1px 20px 0px -5px rgba(255,255,255,0.90);
}

.container--stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
}

.stats__question-number{
    color: #5d5b5b;
    letter-spacing: 2px;
}

.stats__score{
    padding: 0.5em 3em;
    color: #eceaea;
    background-color: #f8a62b;
    border-radius: 3em;
    box-shadow: inset -10px 0px 0px -3px rgba(0, 0, 0, 0.1);
}

.container--answer-choices{
    display: grid;
}

.answer{
    margin: 0.5em;
    padding: 1.25em 1em;
    border-radius: 3em;
    border: 1px solid #797979;
    background-color: transparent;
    color: #646464;
}

.logo{
    text-transform: uppercase;
    color: #646464;
    font-style:italic;
}

.game-over__score{
    display: block;
    padding: 0.2em;
    margin: 0.5em;
    border-radius: 10px;
    background-color: #25bc52;
    color: #ffffff;
    font-size: 36px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .question{
        font-size: 20px;
    }
    .container--content, .container--main-menu{
        max-width: 650px;
        height: 500px;
    }
    .container--answer-choices{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .answer{
        padding: 1.5em 0;
        margin: 1em;
    }
}

@media only screen and (min-width: 960px){
    .question{
        font-size: 24px;
    }
    .container--content, .container--main-menu, .container--game-over{
        max-width: 900px;
        padding: 2em;
    }
    .container--answer-choices{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .answer{
        padding: 1.75em 0;
        margin: 1em;
    }
}